In [23]:
import pandas as pd
import matplotlib.pyplot as plt
df_activities = pd.read_csv('cardioActivities.csv',parse_dates=True,index_col="Date")

In [24]:
df_walk = df_activities[df_activities["Type"]=="Walking"].copy()
df_walk["Average Heart Rate (bpm)"].fillna(110,inplace=True)
df_walk.drop(["Route Name","Friend's Tagged"], inplace=True, axis=1)

In [25]:
print(df_walk.isnull().sum())

Activity Id                  0
Type                         0
Distance (km)                0
Duration                     0
Average Pace                 0
Average Speed (km/h)         0
Calories Burned              0
Climb (m)                    0
Average Heart Rate (bpm)     0
Notes                       17
GPX File                     0
dtype: int64

In [26]:
avg_hr_cycle = df_activities.groupby("Type").mean()
df_cycle = df_activities[df_activities['Type']=='Cycling'].copy()
df_cycle['Average Heart Rate (bpm)'].fillna(124,inplace = True)
print(df_cycle.isnull().sum())
#checking for nullsbb

Activity Id                  0
Type                         0
Route Name                  29
Distance (km)                0
Duration                     0
Average Pace                 0
Average Speed (km/h)         0
Calories Burned              0
Climb (m)                    0
Average Heart Rate (bpm)     0
Friend's Tagged             29
Notes                       21
GPX File                     0
dtype: int64

In [27]:
df_run_walk_cycle = df_activities.append([df_walk, df_cycle]).sort_index(ascending=False)

In [28]:
dist_climb_cols, speed_col = ["Distance (km)","Climb (m)"],["Average Heart Rate (bpm)"]

In [29]:
df_totals = df_run_walk_cycle.groupby("Type")[dist_climb_cols].sum()
display(df_totals)

# full summary report
df_summary = df_run_walk_cycle.groupby("Type")[dist_climb_cols + speed_col].describe()

# total summary 
for i in dist_climb_cols:
  df_summary[i, "total"] = df_totals[i]
print("Total Statistics")
df_summary.stack()

         Distance (km)  Climb (m)
Type
Cycling        1361.16      13952
Other            34.45        421
Running        5224.50      57278
Walking          66.90        698

Total Statistics

               Average Heart Rate (bpm)     Climb (m)  Distance (km)
Type
Cycling 25%                  124.000000    139.000000      15.530000
        50%                  124.000000    199.000000      20.300000
        75%                  134.000000    318.000000      29.400000
        count                 44.000000     58.000000      58.000000
        max                  138.000000    553.000000      49.180000
        mean                 124.272727    240.551724      23.468276
        min                   79.000000     58.000000      11.410000
        std                   12.004580    127.824053       9.367769
        total                       NaN  13952.000000    1361.160000
Other   25%                   81.250000    206.250000      17.012500
        50%                   85.500000    210.500000      17.225000
        75%                   89.750000    214.750000      17.437500
        count                  2.000000      2.000000       2.000000
        max                   94.000000    219.000000      17.650000
        mean                  85.500000    210.500000      17.225000
        min                   77.000000    202.000000      16.800000
        std                   12.020815     12.020815       0.601041
        total                       NaN    421.000000      34.450000
Running 25%                  141.000000     54.000000       7.415000
        50%                  145.000000     91.000000      10.810000
        75%                  149.000000    171.000000      13.190000
        count                277.000000    459.000000     459.000000
        max                  172.000000    982.000000      38.320000
        mean                 144.985560    124.788671      11.382353
        min                  113.000000      0.000000       0.760000
        std                    7.794448    103.382177       4.937853
        total                       NaN  57278.000000    5224.500000
Walking 25%                  110.000000      7.000000       1.370000
        50%                  110.000000     10.000000       1.485000
        75%                  110.000000     16.000000       1.860000
        count                 18.000000     36.000000      36.000000
        max                  110.000000    112.000000       4.290000
        mean                 110.000000     19.388889       1.858333
        min                  110.000000      5.000000       1.220000
        std                    0.000000     26.720006       0.867392
        total                       NaN    698.000000      66.900000